
		<table mat-table
					 [dataSource]="area.servicios" multiTemplateDataRows
					 class="mat-elevation-z8">

			<ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
				<td mat-cell *matCellDef="let data"> {{data.titulo}} </td>
			</ng-container>

			<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
			<ng-container matColumnDef="ServicioExpandido">
				<td mat-cell *matCellDef="let data" [attr.colspan]="columnsToDisplay.length">
					<div class="example-element-detail"
							 [@detailExpand]="data == expandedData ? 'expanded' : 'collapsed'">
						<div class="example-element-description">
							{{data.contenido}}
						</div>
					</div>
				</td>
			</ng-container>

			<tr mat-row *matRowDef="let data; columns: columnsToDisplay;"
					class="example-element-row"
					[class.example-expanded-row]="expandedData === data"
					(click)="expandedData = expandedData === data ? null : data">
			</tr>
			<tr mat-row color="primary" *matRowDef="let row; columns: ['ServicioExpandido']" class="example-detail-row"></tr>
		</table>
