/* You can add global styles to this file, and also import other style files */
@import "theme.scss";

@include mat-core();
@include mat-core($custom-typography);
//@include angular-material-theme($my-theme);
@include angular-material-theme($custom-theme);


body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
}

.img-rounded {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 240px;
  height: 240px
}

.footer-card{
  text-align: left;
  border-top: 1px solid #bbb;
  background-color: #ddd;
}

mat-toolbar{
  margin-top: -10px;
  margin-bottom: -10px;
}

a {
	color: white;
}
a:link {
	text-decoration: none;
}
a:hover {
	color: gray;
	text-decoration: underline;
}

a:visited {
  text-decoration: none;
}
