/* You can add global styles to this file, and also import other style files */
@import "theme.scss";

@include mat-core();
@include angular-material-theme($my-theme);


html, body {
	height: 100%;
}

body { margin: 0; font-family: 'Gugi', cursive; }



.footer-card{
  text-align: left;
  border-top: 1px solid #bbb;
  background-color: #ddd;
}

mat-toolbar{
  margin-top: -10px;
  margin-bottom: -10px;
}
