<div fxLayout='column'>

	<mat-tab-group dynamicHeight="false">
		<mat-tab>
			<ng-template mat-tab-label>
				Nosotros
			</ng-template>
			<mat-card>
				<mat-card-header>
					<mat-card-title>¿Quiénes somos?</mat-card-title>
					<mat-card-subtitle>Brindamos soluciones efectivas</mat-card-subtitle>

				</mat-card-header>
				<mat-card-content>
					<p>
						GRUPO CIDI tiene sus orígenes como un pequeño despacho que inicialmente
						se dedicaba a los servicios de reclutamiento y selección de personal.
						En 1997 sus fundadores deciden nombrarlo CONSULTORÍA INTELIGENTE PARA EL DESARROLLO INDUSTRIAL y es a partir de este año que GRUPO CIDI inicia actividades con un portafolio de servicios ampliado y diseñado para satisfacer los requerimientos de CONSULTORÍA, CAPACITACIÓN, SELECCIÓN Y SOPORTE AL RECURSO HUMANO.
					</p>

				</mat-card-content>
			</mat-card>
		</mat-tab>
		<mat-tab fxFlex="auto">
			<ng-template mat-tab-label>
				Misión
			</ng-template>
			<div fxLayout="column">
			<mat-card fxFlex="none">
				<mat-card-header>
					<mat-card-title>
					</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					{{company.mission}}
				</mat-card-content>
			</mat-card>
			<span fxFlex="grow"></span>
			</div>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				Visión
			</ng-template>
			{{company.vision}}
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				Valores
			</ng-template>
			<mat-list>
				<mat-list-item *ngFor="let value of company.values">
					<mat-icon mat-list-icon>stars</mat-icon>
					<h4 mat-line>{{value.name}}: {{value.definition}}</h4>
				</mat-list-item>
			</mat-list>
		</mat-tab>
	</mat-tab-group>
</div>
