<div flexLayout="column" style="text-align:left">
  <mat-card>
    <mat-card-header>
      <mat-card-title>CONSULTORIA DE PROCESOS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <p class="mat-h2">Reingeniería de procesos</p>
          <mat-list-item role="listitem">Integral</mat-list-item>
          <mat-list-item role="listitem">Parcial</mat-list-item>

        <p class="mat-h2">Elaboración de manuales de organización</p>
          <mat-list-item role="listitem">Descripción de puestos</mat-list-item>
          <mat-list-item role="listitem">Elaboración de perfiles de puesto</mat-list-item>
          <mat-list-item role="listitem">Elaboración políticas corporativas</mat-list-item>
          <mat-list-item role="listitem">Diseño y elaboración de procedimientos</mat-list-item>
          <mat-list-item role="listitem">Diseño e implementación de formatería</mat-list-item>

        <p class="mat-h2">Auditorias de productividad avanzada</p>
          <mat-list-item role="listitem">Auditoría de tercera parte para evaluar aplicación de mejoras</mat-list-item>
          <mat-list-item role="listitem">Auditorías de diagnóstico</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-divider></mat-divider>

  <mat-card>
    <mat-card-header>
      <mat-card-title>DESARROLL ORGANIZACIONAL</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
      <p class="mat-h2">Diseño del cambio</p>
        <mat-list-item role="listitem">Programas de sensibilización</mat-list-item>
        <mat-list-item role="listitem">Diseño de estructuras organizacionales</mat-list-item>
        <mat-list-item role="listitem">Programas de integración</mat-list-item>
        <mat-list-item role="listitem">Capacitación integral</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-divider></mat-divider>

  <mat-card>
    <mat-card-header>
      <mat-card-title>CONSULTORIA EN ISO 9000 Y NORMATIVIDADES</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem"> Diseño e implementación de ISO 9000 V 2008 y otras normatividades.</mat-list-item>
        <mat-list-item role="listitem"> Desarrollo de auditores internos.</mat-list-item>
        <mat-list-item role="listitem"> Auditorias de 3ª parte</mat-list-item>
    </mat-list>
    </mat-card-content>
  </mat-card>
</div>
