<mat-toolbar color="primary" fxLayout="row" class="example-toolbar">

	<!-- WEB !-->
	<div *ngIf="!mobileQuery.matches" fxFlex fxLayoutGap="10px">
		<a routerLink="" class="display-4" style="color: white; text-decoration: none;">
				{{company.name}}
		</a>
		<span fxFlex></span>
	</div>

	<!--MOBILE !-->
	<div *ngIf="mobileQuery.matches" fxLayout="row" fxLayoutGap="10px">
		<!-- HOME BUTTON !-->
		<button mat-button routerLink="" color="white" fxFlex="none">
			<i class="fas fa-home fa-2x" color="white"></i>
		</button>
		<!-- stretcher !-->
		<span fxFlex="auto 4 4"></span>
		<!-- MENU BUTTON !-->
		<button mat-icon-button (click)="sidenav.toggle()" fxFlex="none">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
</mat-toolbar>
