<mat-toolbar color="primary" fxLayout="row" class="example-toolbar">

	<!-- WEB !-->
	<div *ngIf="!mobileQuery.matches" fxFlex fxLayoutGap="10px">
		<a routerLink="" class="display-4" style="color: white; text-decoration: none;">
				{{company.name}}
		</a>
		<span fxFlex></span>
		<button mat-stroked-button color="white" routerLink="/solutions">soluciones</button>
		<button mat-stroked-button color="white" routerLink="/contact">contacto</button>
	</div>

	<!--MOBILE !-->
	<div *ngIf="mobileQuery.matches" fxLayoutGap="10px">
		<!-- HOME BUTTON !-->
		<button mat-button routerLink="" color="white">
			<i class="fas fa-home fa-2x" color="white"></i>
		</button>
		<!-- stretcher !-->
		<span fxFlex="1 1 auto"></span>
		<!-- MENU BUTTON !-->
		<button mat-icon-button (click)="sidenav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
</mat-toolbar>
