<mat-toolbar fxFlex="none" color="primary" fxLayout="row" fxLayoutGap="10px" class="toolbar">

	<!-- WEB !-->
	<div fxShow="true" fxShow.lt-md="false" fxLayoutGap="10px" fxFlex>
		<a routerLink="" style="text-decoration: none; decoration: none;" class="display-4" color="white">
				{{company.name}}
		</a>
		<span fxFlex="1 1 auto"></span>
			<button mat-stroked-button color="white">servicios</button>
			<button mat-stroked-button color="white" routerLink="/contact">contacto</button>
	</div>

	<!--MOBILE !-->
	<div fxShow="false" fxShow.lt-md="true" fxLayoutGap="10px" fxFlex>
		<!-- HOME BUTTON !-->
		<button mat-button routerLink="" color="white">
			<i class="fas fa-home fa-2x" color="white"></i>
		</button>
		<!-- stretcher !-->
		<span fxFlex="1 1 auto"></span>
		<!-- MENU BUTTON !-->
		<button mat-icon-button (click)="sidenav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
</mat-toolbar>
