<!--
ABOUT
-->
<div fxLayout="column">
<mat-card fxFlex="1 1 auto" class="example-card">
  <mat-card-header>
    <mat-card-title>¿Quienes somos?</mat-card-title>
    <mat-card-subtitle>CONSULTORÍA INTELIGENTE PARA EL DESARROLLO INDUSTRIAL</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      trabajamos para satisfacer los requerimientos de
      <strong>consultoría</strong>,
      <strong>capacitación</strong>,
      <strong>selección</strong> y
      <strong>soporte al recurso humano</strong>.
  </mat-card-content>
  <img  src="assets/img/ourTeam.png" alt="Nuestro equipo" width="80%">
  <mat-card-actions>
    <a mat-raised-button routerLink="about">Conoce más</a>
  </mat-card-actions>
</mat-card>

<mat-divider></mat-divider>

<!--
SOLUTIONS
-->
<mat-card fxFlex="1 1 auto" class="example-card">
  <mat-card-header>
    <mat-card-title>Soluciones</mat-card-title>
    <mat-card-subtitle>empresas que confían en nosotros</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!--
    SPONSORS!
    -->
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="1 1 auto" *ngFor="let sponsor of sponsors">
        <img src="{{sponsor.path}}" alt="{{sponsor.label}}"
             width="100" height="70">
       </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button routerLink="solutions">Conoce más</a>
  </mat-card-actions>
</mat-card>
</div>
