<!--
ABOUT
-->
<div fxLayout="column" align="center">
<mat-card fxFlex>
	<div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="center center">
		<img  src="assets/img/{{company.logo.name}}" alt="{{company.logo.alt}}">
    <h1 class="display-1">{{company.slogan}}</h1>
  </div>
	<mat-card-content>
  </mat-card-content>
  <img  src="assets/img/ourTeam.png" alt="Nuestro equipo" width="95%">
  <mat-card-actions>
    <a mat-raised-button color="accent" routerLink="about">Conoce más</a>
  </mat-card-actions>
</mat-card>


<!--
SOLUTIONS
-->
<mat-card>
  <mat-card-header>
    <mat-card-title>Empresas que confían en nosotros</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!--
    SPONSORS!
    -->
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="1 1 auto" *ngFor="let sponsor of company.sponsors">
        <img src="{{sponsor.path}}" alt="{{sponsor.label}}"
             width="100" height="70">
       </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button routerLink="solutions" color="accent">Conoce más</a>
  </mat-card-actions>
</mat-card>

<!--
AREAS
!-->
<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap=".25%"
fxLayoutGap.lt-md="10px">
	<!-- SECTION TITLE !-->
	<mat-toolbar fxFlex="none" color="accent" fxLayout="row" fxLayoutGap="10px">
			<span> Nuestros Servicios </span>
	</mat-toolbar>

	<!-- SECTION CONTENT !-->
	<mat-card *ngFor="let solution of company.solutions" fxFlex="1 1 33%" fxFlex.lt-md="1 1 auto">
		<mat-card-header>
			<mat-card-title>{{solution.name}}</mat-card-title>
		</mat-card-header>
		<img  src="assets/img/{{solution.image.name}}" alt="{{solution.image.alt}}" width="95%">
	  <mat-card-content>
			{{solution.description}}
		</mat-card-content>
		<a mat-button color="accent" [routerLink]="['/solutions', solution.name]">conoce más</a>
	</mat-card>
</div>

</div>
