<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" fxFlexFill>
	<!-- navbar !-->
	<app-navbar [sidenav]="snav"></app-navbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
				<button mat-stroked-button color="white">servicios</button>
				<button mat-stroked-button color="white" (click)="scroll(Contactos)">contacto</button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
			<div fxLayout="column" fxFlex="grow">
				<!-- content !-->
				<router-outlet></router-outlet>
				<!-- stretcher !-->
				<span fxFlex></span>
				<!--footer !-->
				<app-footer></app-footer>
			</div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
