<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

<mat-toolbar>
  <a mat-button  routerLink=""><span class="mat-display-2">{{navTitle}}</span></a>
</mat-toolbar>

<router-outlet></router-outlet>
</div>

<mat-toolbar>
  <mat-toolbar-row>
    <p class="mat-body-2">
      GRUPO CIDI
    </p>
  </mat-toolbar-row>


  <mat-toolbar-row>

<p class="mat-body-1">
  Colina de los aconitos No. 41, Desp. 203.<br>
  Colonia Boulevares, Ciudad Satélite, Naucalpan de Juarez, Estado de México.
</p><br>
</mat-toolbar-row>

<mat-toolbar-row>
  <p class="mat-body-1">
    Telefonos:<br>
    (0155) 55627989<br>
    (0155) 53935177
  </p>
</mat-toolbar-row>

<mat-toolbar-row>
<p class="mat-caption">
  designed by Ulises Rodrigo Gonzalez Osnaya | ulywhy@gmail.com
</p>
</mat-toolbar-row>

</mat-toolbar>
