<!--
AREAS
!-->
<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap=".25%"
fxLayoutGap.lt-md="10px">
	<!-- SECTION TITLE !-->
	<mat-toolbar fxFlex="none" color="primary" fxLayout="row" fxLayoutGap="10px">
			<span> Nuestros Servicios </span>
	</mat-toolbar>

	<!-- SECTION CONTENT !-->
	<mat-card *ngFor="let service of solution.services" fxFlex="1 1 33%" fxFlex.lt-md="1 1 auto">
		<mat-card-header>
			<mat-card-title>{{service.name}}</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			{{service.description}}
		</mat-card-content>
	</mat-card>
</div>
