<div fxLayout="column" fxLayoutAlign="end">
	<!--HEADER !-->
	<mat-toolbar fxLayout="row" color="accent" fxLayoutAlign="center center">
		<a routerLink="" class="display-4" style="color: white; text-decoration: none;">
				{{company.name}}
		</a>
	</mat-toolbar>

	<mat-toolbar fxLayout="column" color="primary">

		<!--SOCIAL NETWORKS !-->
		<mat-toolbar-row fxLayout="row" fxLayoutGap="10px" fxFlexAlign="center center">
			<span fxFlex></span>
			<a *ngFor="let social of company.socialNet"
					class="mat-caption"
					href="{{social.link}}">
				<i class="{{social.icon}}"></i>
				<span fxShow="true" fxShow.sm="false" fxShow.lt-sm="false">{{" " + social.page}}</span>
			</a>
			<span fxFlex></span>
		</mat-toolbar-row>
		<!-- PHONES !-->
		<mat-toolbar-row fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
			<span *ngFor="let phone of company.phones">
				<a class="mat-caption"
						href="tel:{{phone}}">
					<i class="fas fa-phone"></i>
					{{phone}}
				</a>
			</span>
		</mat-toolbar-row>
		<!--ADDRESS !-->
		<mat-toolbar-row fxLayoutAlign="center center">
			<a style=" white-space: nowrap;
  								overflow: hidden;
  								text-overflow: ellipsis;"
					class="mat-caption" href="{{company.address.mapsURL}}">
				<i class="fas fa-map-marked-alt"></i>
				{{company.address.value}}
			</a>
		</mat-toolbar-row>

		<!-- DESIGNER !-->
		<mat-toolbar-row fxLayoutGap="2px" fxLayoutAlign="center center">
			<span class="mat-caption">
				designed by </span>
			<span fxHide.lt-sm="true" class="mat-caption">
				Ulises Rodrigo Gonzalez Osnaya,
			</span>
			<span class="mat-caption">
				ulywhy@gmail.com
			</span>
		</mat-toolbar-row>
	</mat-toolbar>
</div>
