<mat-toolbar fxFlex="none" fxLayout="column" color="primary" fxLayoutAlign="end">
	<mat-toolbar-row>
		<span fxFlex="4 4 auto" fxFlex.lt-md="shrink"></span>
		<p class="display-2">  {{company.name}}  </p>
		<span fxFlex="4 4 auto" fxFlex.lt-md="shrink"></span>
	</mat-toolbar-row>
	<mat-toolbar-row fxLayout="row wrap" fxLayoutGap="10px"  #Contactos>
		<span fxFlex="4 4 auto" fxFlex.lt-md="shrink"></span>
		<a fxFlex mat-button href="{{company.facebook.link}}">
			<i class="fab fa-facebook-square fa-lg" aria-label="Facebook"></i>
			{{company.facebook.page}}
		</a>
		<a fxFlex mat-button href="mailto:{{company.email.address}}?{{company.email.header}}">
			<i class="fas fa-envelope fa-lg" aria-label="email"></i>
			{{company.email.address}}
		</a>
		<span fxFlex="4 4 auto" fxFlex.lt-md="shrink"></span>
	</mat-toolbar-row>

	<mat-toolbar-row fxLayout="row wrap" fxLayoutGap="10px">
		<span fxFlex="4 4 auto" fxFlex.lt-md="shrink"></span>
		<a *ngFor="let phone of company.phones" mat-button color="white" href="tel:{{phone}}" class="mat-body-1">
			<i class="fas fa-phone"></i>
			{{phone}}
		</a>
		<span fxFlex="4 4 auto" fxFlex.lt-md="shrink"></span>
	</mat-toolbar-row>
	<mat-toolbar-row>
		<span fxFlex="2 2 auto"></span>
		<a class="mat-caption" mat-button color="white" href="{{company.address.mapsURL}}">
			<i class="fas fa-map-marked-alt"></i>
			{{company.address.value}}
		</a>
		<span fxFlex="2 2 auto"></span>
	</mat-toolbar-row>
	<mat-toolbar-row fxLayoutGap="2px">
		<span fxFlex="2 2 auto"></span>
		<span class="mat-caption">
			designed by </span>
		<span fxHide.lt-sm="true" class="mat-caption">
			Ulises Rodrigo Gonzalez Osnaya,
		</span>
		<span class="mat-caption">
			ulywhy@gmail.com
		</span>
		<span fxFlex="2 2 auto"></span>
	</mat-toolbar-row>
</mat-toolbar>
